<html>
    <head>
        <title> {{ title }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <style>
            /* ~~~~~~~~~~ TAB BUTTONS ~~~~~~~~~~  */
            .tab{
                overflow: hidden;
            }
            .tab button{
                background-color: rgb(46, 41, 37);
                color: #ffffff;
                float: left;
                border: none;
                outline: none;
            }
            .tab button:hover{
                background-color: rgb(0, 124, 186);
            }
            #activetab{
                background-color: rgb(0, 124, 186) !important;
                color: #ffffff !important;
            }
        </style>
    </head>

    <body>
        <nav class="fixed-nav-bar">
            <img src="/static/img/header.png" id="riskfda_logo" width="200">
            <img src="/static/img/fda.png" id="fda_logo" width="250">
            <div class="tab">
                <button type="button" id="{{tabisactive}}" class="one-fourth column" onclick="window.location.href='{{ url_for('index') }}';"> Welcome </button>
                <button type="button" class="one-fourth column" onclick="window.location.href='{{ url_for('risk') }}';"> Risk Classification </button>
                <button type="button" class="one-fourth column" onclick="window.location.href='{{ url_for('recalls') }}';"> Recalls </button>
                <button type="button" class="one-fourth column" onclick="window.location.href='{{ url_for('advevents') }}';"> Adverse Events </button>
                <button type="button" class="one-fourth column" onclick="window.location.href='{{ url_for('faq') }}';"> Glossary </button>
            </div>
        </nav>

        <div class="welcome-site">
            <div class="text-box">
                <div class="slider">
                    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
                    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
                    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
                    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
                    <div class="slider__inner">
                        <div class="slider__contents">  <i class="slider__image fa"></i>
                            <h2 class="slider__caption"> riskFDA </h2>
                            <p class="slider__txt">riskFDA is a predictive tool created using machine learning algorithms, precise data analytics, and intuitive visualizations to improve public health.</p>
                        </div>
                        <div class="slider__contents"><i class="slider__image fa"></i>
                            <br><br>
                            <h2 class="slider__caption"> Recent Recalls </h2>
                            <p class="slider__txt"> 
                                <ul>
                                    <li> <a href="https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts/herbal-doctor-remedies-issues-voluntary-nationwide-recall-all-drug-products-due-marketing-without"> Herbal Doctor Remedies Issues Voluntary Nationwide Recall of All Drug Products Due to Marketing Without FDA Approval and Concerns with Manufacturing Practices </a> </li> <br>
                                    <li> <a href="https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts/altaire-pharmaceuticals-inc-issues-voluntary-recall-multiple-ophthalmic-products-sold-ocusoft"> Altaire Pharmaceuticals, Inc. Issues Voluntary Recall of Multiple Ophthalmic Products Sold by OCuSOFT </a> </li> <br>
                                    <li> <a href="https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts/bayer-statement-voluntary-recall-two-lots-kogenater-fs-antihemophilic-factor-recombinant-united"> Bayer Statement on Voluntary Recall of Two Lots of Kogenate® FS Antihemophilic Factor (Recombinant) in the United States </a> </li>
                                </ul>
                            </p>
                        </div>
                        <div class="slider__contents"><i class="slider__image fa"></i>
                            <br><br>
                            <h2 class="slider__caption"> Adverse Events in the News </h2>
                            <p class="slider__txt">
                                <ul>
                                    <li> <a href="https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts/allergan-voluntarily-recalls-biocellr-textured-breast-implants-and-tissue-expanders"> Allergan Voluntarily Recalls BIOCELL® Textured Breast Implants and Tissue Expanders </a> </li> <br>
                                    <li> <a href="https://www.medscape.com/viewarticle/916105"> FDA Adds Boxed Warning on Risk for PE, Death With Higher Dose Tofacitinib (Xeljanz) </a> </li> <br>
                                    <li> <a href="https://chicago.suntimes.com/consumer-affairs/2019/7/7/20685310/eye-drops-recalled-walmart-walgreens-fda"> Eye drops sold at Walmart, Walgreens recalled after reports: FDA </a> </li>
                                </ul>
                            </p>
                        </div>
                        <div class="slider__contents"><i class="slider__image fa"></i>
                            <br><br>
                            <h2 class="slider__caption"> FDA News </h2>
                            <p class="slider__txt">
                                <ul>
                                    <li> <a href="https://www.fda.gov/news-events/press-announcements/fda-approves-first-treatment-severe-hypoglycemia-can-be-administered-without-injection"> FDA approves first treatment for severe hypoglycemia that can be administered without an injection </a> </li> <br>
                                    <li> <a href="https://www.fda.gov/news-events/press-announcements/fda-takes-action-protect-patients-risk-certain-textured-breast-implants-requests-allergan"> FDA takes action to protect patients from risk of certain textured breast implants </a> </li> <br>
                                    <li> <a href="https://www.fda.gov/news-events/press-announcements/fda-approves-new-treatment-refractory-multiple-myeloma"> FDA approves new treatment for refractory multiple myeloma </a> </li>
                                </ul>    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
