<html>
    <head>
        <title> {{ title }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <body>
        <nav class="fixed-nav-bar">
            <img src="/static/img/header.png" id="riskfda_logo" width="200">
            <img src="/static/img/fda.png" id="fda_logo" width="250">
            <div class="tab">
                <button type="button" class="tablinks one-fourth column" onclick="window.location.href='{{ url_for('index') }}';"> Welcome </button>
                <button type="button" class="tablinks one-fourth column" onclick="window.location.href='{{ url_for('risk') }}';"> Risk Classification </button>
                <button type="button" class="tablinks one-fourth column" onclick="window.location.href='{{ url_for('recalls') }}';"> Recalls </button>
                <button type="button" class="tablinks one-fourth column" onclick="window.location.href='{{ url_for('advevents') }}';"> Adverse Events </button>
                <button type="button" class="tablinks one-fourth column" onclick="window.location.href='{{ url_for('faq') }}';"> Glossary </button>
            </div>
        </nav>

        <div class="welcome-site">
            <div class="text-box">
                <div class="slider">
                    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
                    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
                    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
                    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
                    <div class="slider__inner">
                        <div class="slider__contents">  <i class="slider__image fa"></i>
                            <h2 class="slider__caption"> riskFDA </h2>
                            <p class="slider__txt">riskFDA is a risk-based web application that utilizes precise data analytics and descriptive spatial mapping to improve public safety in drug manufacturing.</p>
                        </div>
                        <div class="slider__contents"><i class="slider__image fa"></i>
                            <br>
                            <h2 class="slider__caption"> Recent Recalls </h2>
                            <p class="slider__txt"> 
                                <ul>
                                    <li> <a href="https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts/herbal-doctor-remedies-issues-voluntary-nationwide-recall-all-drug-products-due-marketing-without"> Herbal Doctor Remedies Issues Voluntary Nationwide Recall of All Drug Products Due to Marketing Without FDA Approval and Concerns with Manufacturing Practices </a> </li> <br>
                                    <li> <a href="https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts/altaire-pharmaceuticals-inc-issues-voluntary-recall-multiple-ophthalmic-products-sold-ocusoft"> Altaire Pharmaceuticals, Inc. Issues Voluntary Recall of Multiple Ophthalmic Products Sold by OCuSOFT </a> </li> <br>
                                    <li> <a href="https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts/bayer-statement-voluntary-recall-two-lots-kogenater-fs-antihemophilic-factor-recombinant-united"> Bayer Statement on Voluntary Recall of Two Lots of Kogenate® FS Antihemophilic Factor (Recombinant) in the United States </a> </li>
                                </ul>
                            </p>
                        </div>
                        <div class="slider__contents"><i class="slider__image fa"></i>
                            <h2 class="slider__caption"> Adverse Events in the News </h2>
                            <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
                        </div>
                        <div class="slider__contents"><i class="slider__image fa"></i>
                            <h2 class="slider__caption"> riskFDA </h2>
                            <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>

</html>
